* {
  margin: 0;
  padding: 0;
}

body {
  background-attachment: fixed;
  background: url('https://img.freepik.com/free-vector/abstract-watercolor-pastel-background_87374-139.jpg?w=2000');
  color: blue;
}

.search-container {
  position: relative;
  margin: auto auto auto auto;
  width: 60vw;
  padding: 20px;
  border-radius: 20px;
  columns: 2;
  background-color: rgba(111, 167, 219, 0.5);
}

.split {
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
}

/* Control the right side */
.right {
  right: 0;
}

#search-box {
  display: inline-flex;
  width: 100%;
}

#search-bar {
  width: 100%;
  border-radius: 5px 0 0 5px;
}

input[type="text"] {
  padding: 10px;
  margin: 10px 0 10px 10px;
  font-size: large;
  color: blue;
  border: 1px solid blue;
}

#search-icon {
  width: fit-content;
  padding: 12px 10px 0 10px;
  margin: 10px 10px 10px 0;
  border-radius: 0 5px 5px 0;
  background-color: rgb(64, 64, 217);
}

#search-result {
  margin: 10px;
  padding: 10px;
  color: blue;
  border: 1px solid blue;
  border-radius: 5px;
  font-size: large;
}

.search-item {
  color: white;
  text-align: center;
  border: 1px solid blue;
  padding: 5px;
  margin: 5px;
  background-color: rgb(64, 64, 217);
}

.search-item:hover {
  background-color: rgb(22, 14, 139);
  cursor: pointer;
}

.block-radio {
  margin: 7px;
}

input[type="radio"] {
  display: none;
}

.label-radio {
  position: relative;
  color: blue;
  border:  1px solid blue;
  border-radius: 5px;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.label-radio:before {
  content: "";
  height: 16px;
  width: 16px;
  border: 2px solid blue;
  border-radius: 50%;
  margin-right: 20px;
}

input[type="radio"]:checked + label {
  background-color: rgb(22, 14, 139);
  color: white;
}

input[type="radio"]:checked + label:before {
  border: 1px solid blue;
  background-color: rgb(0, 0, 0);
}

.alter-text {
  border-radius: 5px;
}

label {
  font-size: large;
}

.inp-form {
  margin: 10px;
}

button {
  padding: 10px;
  border: 1px solid blue;
  border-radius: 5px;
  display: flex;
  align-self: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  background-color: transparent;
  color: blue;
}

button:hover {
  cursor: pointer;
  background-color: rgb(22, 14, 139);
  color: white;
}

.shadow{
  font-family:Mr Dafoe, sans-serif;
  font-size: 8rem;
  text-align:center;
  text-shadow: 0 -3px 0 #333,
    0 6px 8px rgba(0,0,0,.4),
    0 9px 10px rgba(0,0,0,.15),
    0 30px 10px rgba(0,0,0,.18),
    0 15px 10px rgba(0,0,0,.21);
}

.btn {
  display: flex;
}

.footer {
  text-align: center;
  color: red;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}